ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #115;
}
#capa1{
  width: 210px;
  height: 300px;
  background-color: #215591;
  color: #FFFFFF;
  float:left;
}
#capa2{
  width:210px;
  height: 300px;
  background-color:#AC2939;
  color: #FFFFFF;
  float: right;
  margin-left: 10px;
}
#capa3{
  width:100%;
  height: 30px;
  background-color:#D49E7C;
  color: #FFFFFF;
  float: left;
  clear: both;
  margin-top: 10px;
}
#container{
  width: 900px;
  height: 400px;
}
#header{
  color: #FFFFFF;
  background-color: #dfb8a8;
  height: 50px;
  padding: 5px;
}
#sidebar{
  color: #FFFFFF;
  background-color: #fbe6bb;
  float: left;
  width: 140px;
  height: 100%;
  padding: 5px;
}
#content{
  color: #FFFFFF;
  background-color: #f2bd5e;
  float: left;
  width: 740px;
  height: 100%;
  padding: 5px;
}
#foot{
  color: #FFFFFF;
  background-color: #6d3934;
  clear: both;
  padding: 5px;
}
